*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fc;
}

.app {
    max-width: 800px;
    margin: 4rem auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0, .1);
}

.products__search {
    width: 100%;
    display: block;
    padding: 10px 20px;
    background-color: #f7f8fc;
    color: #8d93b3;
    border: 0;
    margin-bottom: 1rem;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.products__search:focus {
    outline: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);

}

.products__header{
    display: flex;
    border-bottom: 1px solid #2a3469;
}

.products__detail {
    flex-basis: 20%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product__delete {
    border: 0;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 12px;
    color: #2a3469;
    font-size: 12px;
    transition: all 0.3s;
    background-color: transparent;
    border-radius: 5px;
}

.product__delete:hover {
    color: #fff;
    background-color: #e74c3c
}

.product__delete:focus {
    outline: 0;
}

.product {
    display: flex;
    align-items: center;
}

.product:nth-child(2n+1) {
    background-color: #f7f8fc;
}

.product__cell {
    flex-basis: 20%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    font-family: sans-serif;
    word-break: break-all;
}

/* app header */

.app__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.app__title {
    font-size: 30px;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #2a3469;
}

.add__toggler {
    background-color: #00ca80;
    padding: 10px 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.add__toggler:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.add__toggler:active {
    transform: translateY(-1px);
}

.add-popup {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.form {
    padding: 60px 20px 30px;
    border-radius: 10px;
    background-color: #f7f8fc;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom:  15px;
}

.form__label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.form__input {
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #cbced6;
}

.form__input:focus {
    outline: 0;
}

.form__button {
    margin-top: 2rem;
    background-color: #cbced6;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    font-family: sans-serif;
    cursor: pointer;
}